<head>
    <style>
      .b {
        background-color: #BBDEFB;
        padding: 10px 20px;
      }
    </style>
</head>


<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Main Projects</h3>
    {% if page.title == "Home" %}
      includes publications.html home
    
      <h4 class="b" id="u2net_portrait_sketch"><A href = "https://github.com/HyeongminMoon/U-2-Net_portrait_sketch">(2021) Portrait sketch by improving segmentation model</A></h4>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-6"> 
      <br></br>
      <br></br>
      <h5> High-detailed Segmentation becomes Portrait sketch </h5>
      <p> * The U-2Net is famous for segmetation model.</p>
      <p> * It's model has a complex structure so it does segmetnation to the level that presents a strand of hair.</p>
      <h5> Enhancing to become portrait model </h5>
      <p> * Based on this high quality, people thought that it is possible to use this model for portrait sketch but at first it had not good performance. </p>
      <p> * I tried various trying to enhance this model such as preprocessing images, devising a dedicated augmentation techniques. </p>
      <p> * If you want to get information about U2Net, please refer <a href="https://github.com/xuebinqin/U-2-Net">this original repository</a> <p>
  </div>
  <div class="col-md-6">
    
<p><br><img src="https://user-images.githubusercontent.com/32811724/143386093-f9f3b1e0-4e8b-4fcd-9303-56a872888f5d.png" width="45%"></img>
<img src="https://user-images.githubusercontent.com/32811724/143386103-8eb3fb3b-8bed-4f37-8a49-3b4ef1718fe4.png" width="45%"></img>
</br>
<br><img src="https://user-images.githubusercontent.com/32811724/143386178-d2eeb72e-2a33-43c8-b0f8-713efbf30709.png" width="45%"></img>
<img src="https://user-images.githubusercontent.com/32811724/143386194-614bfe30-e025-47b7-a899-43839344c172.png" width="45%"></img>
</br>
<br><img src="https://user-images.githubusercontent.com/32811724/143386187-71006f1b-9e29-4158-b01b-f4541ad057f4.png" width="45%"></img>
<img src="https://user-images.githubusercontent.com/32811724/143386196-e7215ff1-7b2c-4e9c-8554-4bd8c94fc3ff.png" width="45%"></img>
</br></p>
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-6">
<p><img src="https://user-images.githubusercontent.com/32811724/143388489-1d9e0756-58e9-4ab6-98f9-ca0f0c044869.gif" alt="IU_Coin_train_custom_erode2 (1)" width="90%">
<img src="https://user-images.githubusercontent.com/32811724/143388497-3237d2db-3b80-4309-97f3-a4d7aae28321.gif" alt="Traffic_light_custom_b2" width="90%"></p>
  </div>    
  <div class="col-md-6">
      description
      description
      description
      
      description
      description
      description
  </div>
</div>
<h5 id="other-things">More</h5>
<ul>
* If you want to see the enhancing processes, plese refer this repository
* <A href = "https://github.com/HyeongminMoon/U-2-Net_portrait_sketch">(2021) Portrait sketch by improving segmentation model</A>
</ul>

    
      {% for item in site.data.publications.featured %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% else %}
      includes publications.html
      {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div>
